@import "bootstrap/scss/bootstrap-grid";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
}
a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 16px;
}

.header {
  border-left: solid 50px white;
  background-color: #f00;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.top p {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
}

.langues {
  display: flex;
  width: 118px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 71px;
}

.burger p {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
}

.icônes {
  display: flex;
  align-items: center;
  gap: 27px;
}

.bouton {
  display: flex;
  padding: 31px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--red, #f00);
  background: var(--white, #fff);
  transition-property: color, background-color;
  transition-duration: 0.5s;
  color: var(--red, #f00);
  font-size: 24px;
  font-weight: 700;
}

.bouton:hover {
  color: var(--white, #fff);
  background: var(--red, #f00);
}

h1 {
  color: var(--red, #f00);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-top: 117px;
}

h2 {
  color: var(--red, #f00);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 56px;
}
h3 {
  color: var(--red, #f00);
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 33px;
}

.philosophie {
  text-align: center;
}

.middle1 {
  background-color: white;
  padding-top: 71px;
  padding-bottom: 113px;
  border-left: solid 50px red;
}
.middle2 {
  background-color: #f00;
  padding-top: 107px;
  padding-bottom: 120px;
  border-left: solid 50px white;
}

.middle3 {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 121px;
  border-left: solid 50px red;
}

.footer {
  background-color: red;
  padding-top: 37px;
  padding-bottom: 41px;
  border-left: solid 50px white;
}

.white p,
.white h2,
.white .plus {
  color: var(--white, #fff);
}

.vignerons {
  text-align: center;
}

p {
  color: var(--red, #f00);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plus {
  margin-top: 66px;
  text-decoration: underline;
  color: #f00;
}

.raisin {
  margin-top: 191px;
}

.réservation .accroche {
  margin-top: 337px;
}

.réservation .bouton {
  margin-top: 78px;
}

.réservation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.discover {
  margin-top: -195px !important;
}

.align-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bas p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 47px;
}

.bas {
  margin-top: 24px;
}

.infos p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.réseaux {
  display: flex;
  width: 71px;
  align-items: center;
  gap: 12px;
  // margin-top: 256px;
  //margin-bottom: 47px;
}

.infos {
  margin-top: 24px;
}

.numéro p {
  color: #fff;
  text-decoration: underline;
  margin-top: 24px;
}

.gras p {
  font-weight: bold;
}

.mini {
  // margin-top: 158px;
  margin-bottom: 7px;
}

.bio {
  // margin-top: 173px;
  display: flex;
  justify-content: right;
}

.gault {
  display: grid;
  justify-content: right;
}

.droits {
  text-align: right;
}

.newsletter .gras p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  // margin-top: 190px;
  margin-bottom: 20px;
}

.abonnement {
  display: inline-flex;
  align-items: center;
}

.mail p {
  color: var(--white, #fff);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  width: fit-content;
}

.mail {
  display: flex;
  height: 35px;
  width: 250px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--white, #fff);
  background: var(--red, #f00);
}

.inscription p {
  color: var(--red, #f00);
  font-size: 20px;
  font-weight: 400;
}

.inscription {
  display: flex;
  width: 106px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
}

a {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.text {
  color: var(--red, #f00);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-top: 129px;
  margin-bottom: 193px;
}

.colonne p {
  color: var(--red, #f00);
  font-size: 20px;
  font-weight: 400;
}
.colonne {
  display: flex;
  width: 356px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--red, #f00);
}

.colonne2 {
  display: flex;
  width: 356px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--red, #f00);
  border-bottom: 1px solid var(--red, #f00);
}

.colonne2 p {
  color: var(--red, #f00);
  font-size: 20px;
  font-weight: 400;
}

.face {
  display: flex;
  width: 451px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--red, #f00);
}

.face p {
  color: var(--red, #f00);
  font-size: 20px;
  font-weight: 400;
}

.face2 {
  display: flex;
  width: 451px;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--red, #f00);
  border-bottom: 1px solid var(--red, #f00);
}

.face2 p {
  color: var(--red, #f00);
  font-size: 20px;
  font-weight: 400;
}

.middle {
  background-color: white;
  padding-top: 71px;
  padding-bottom: 113px;
  border-left: solid 50px red;
}
.gouter {
  margin-top: 141px;
}

.biorouge {
  margin-top: 118px;
  margin-bottom: 122px;
  display: flex;
  justify-content: right;
}

.reservation .accroche {
  margin-top: 310px;
}

.reservation .bouton {
  margin-top: 78px;
}

.reservation {
  margin-top: -540px !important;
}

.titre {
  margin-bottom: -100px !important;
}

.panier {
  margin-bottom: 35px;
}

.bloc {
  margin-bottom: 35px;
}
